<div class="row">
  <div class="column">
    <div id="root">
      React component loading...
    </div>
  </div>
</div>
<script>
  <%= if @current_user do %>
	  window.username = "<%= @current_user.username %>"
	<% end %>
</script>
