<h1>Show Song</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @song.name %>
	</li>
	<li>
		<strong>User Id:</strong>
		<%= @song.user_id %>
	</li>
	<li>
		<strong>Link:</strong>
		<%= link @song.link, to: @song.link %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.song_path(@conn, :edit, @song) %></span>
<span><%= link "Back", to: Routes.song_path(@conn, :index) %></span>
